*
!*/

!README.md
!docker-compose.yml
!pull-latest-and-deploy
!.gitignore
!.gitattributes

!nginx/default.conf
!nginx/Dockerfile

!nginx/client/Dockerfile
!nginx/client/package.json
!nginx/client/package-lock.json
!nginx/client/public/**
!nginx/client/src/**

!api/Dockerfile
!api/index.js
!api/dbController.js
!api/package.json
!api/package-lock.json
!api/pm2.json

